@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #F4F7FF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-top: 85px; /* Adjusted padding for the new navbar height */
}

.homepage-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

#community-reports-title {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 28px;
  padding: 0 25px;
  margin-bottom: 20px;
  color: #2d3436;
}