.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;                  
  background: rgba(238, 238, 238, 0.1); /* semi-transparent */
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar-content {
  max-width: 1200px;            
  margin: 0 auto;               
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4CAF50;
  font-family: 'Inter', sans-serif;
}

.navbar-logo img{
  width: 220px;
}

.navbar-logo:hover {
    cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  transition: color 0.3s ease;
}

.navbar-links a.active {
  color: #033c70;
  font-weight: 600;
}

.navbar-links a:hover {
  color: #033c70;
}

body {
  margin: 0;
  padding-top: 70px;
}

.logout-button {
  font-family: 'Inter', sans-serif; /* Match the link font */
  font-size: 24px; /* Match the link font size */
  color: #DC2626; /* A distinct but professional red for logout */
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
  font-weight: 600; /* Make it bold like the active link */
}

.logout-button:hover {
  color: #a01c1c; /* Darker red on hover */
}