.small-report-container {
    width: 500px;
    min-width: 300px;
    background-color: #232424;
    border-radius: 10px;
    margin: 20px;
}

.user-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
}

#user-profile-picture {
    width: 12%;
    border-radius: 50px;
}

#username {
    font-weight: 700;
    font-size: 17px;
    color: white
}

#username:hover {
    text-decoration: underline;
    cursor: pointer;
}

#post-time {
    font-size: 15px;
    color: rgb(123, 123, 123)
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-container-report-title, .user-interactions {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    width: 92%;
    max-width: 92%;
    text-align: left;
}

#user-image {
    max-width: 92%;
    min-width: 100px;
    border-radius: 12px;
}

.user-interactions {
    color: white;
    padding: 5px;
}

.user-interactions span {
    font-size: 20px;
    padding: 5px;
}

.user-interactions span:hover {
    border: 2px solid white;
    border-radius: 18px;
    cursor: pointer;
}

.status-dropdown-box select{
    background-color: #232424;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    padding: 10px;
}

.status-dropdown-box select:focus {
    outline: none;
}

.status-dropdown-box select:hover {
    background-color: black;
}

.status-dropdown-box select option {
    border: none;
    border-radius: 12px;
}